*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(http://localhost/asistencia1/sistema/nilson/img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}


